[submodule "bundle/vim-argumentative"]
	path = bundle/vim-argumentative
	url = git://github.com/PeterRincker/vim-argumentative.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "bundle/vim-commentary"]
	path = bundle/vim-commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "bundle/rainbow_parentheses.vim"]
	path = bundle/rainbow_parentheses.vim
	url = git@github.com:kien/rainbow_parentheses.vim.git
[submodule "bundle/ctrlsf.vim"]
	path = bundle/ctrlsf.vim
	url = git@github.com:dyng/ctrlsf.vim.git
